<app-nav></app-nav>

<div class="container">
  <div class="h1 text-center bg-info py-2 text-white fw-bolder">
    Add Employee
  </div>
  <form class="row g-3">
    <div class="col-md-6">
      <label for="firstname" class="form-label">First Name</label>
      <input
        type="text"
        class="form-control"
        id="firstname"
        [(ngModel)]="employeeObj.firstname"
        name="firstname"
        required
      />
    </div>
    <div class="col-md-6">
      <label for="lastname" class="form-label">Last Name</label>
      <input
        type="text"
        class="form-control"
        id="lastname"
        name="lastname"
        [(ngModel)]="employeeObj.lastname"
        required
      />
    </div>

    <div class="col-12">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        [(ngModel)]="employeeObj.email"
        required
      />
    </div>
    <div class="col-md-6">
      <label for="department_Id" class="form-label">Department Id</label>

      <select
        id="department_Id"
        class="form-select"
        name="department_Id"
        required
        [(ngModel)]="employeeObj.department_Id"
      >
        <option selected>Choose...</option>
        <option value="1">D1</option>
        <option value="2">D2</option>
        <option value="3">D3</option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="role_Id" class="form-label">Role Id</label>
      <select
        id="role_Id"
        name="role_Id"
        class="form-select"
        [(ngModel)]="employeeObj.role_Id"
      >
        <option selected>Choose...</option>
        <option value="1">one</option>
        <option value="2">two</option>
        <option value="3">three</option>
      </select>
    </div>
    <div class="col-12">
      <button
        type="button"
        class="btn btn-success px-4 mt-4"
        (click)="addEmployee()"
      >
        Add Employee
      </button>
    </div>
  </form>
</div>
