<div class="h1 text-center m-3 bg-info px-2 py-2 text-white fw-bolder">
  view-all-employee works!
</div>

<div class="container">
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Department</th>
      <th>Role</th>
    </tr>
    <tr *ngFor="let employee of employeeList">
      <td>{{ employee.id }}</td>
      <td>{{ employee.firstname + " " + employee.lastname }}</td>
      <td>{{ employee.email }}</td>
      <td>{{ employee.department_Id }}</td>
      <td>{{ employee.role_Id }}</td>
    </tr>
  </table>
</div>
